
src/esp32/*/.vscode/
src/esp32/*/arduino.json
src/esp32/as7-beta/build/*
B1Code/QtCode/build*
src/Win/Argous Qt code base/ArgouseBaseSoftware/ArgouseBaseSoftware.pro.user
src/Win/Argous Qt code base/build*
src/Win/Argous Qt code base/ArgouseBaseSoftware/appdata/as7-map.ply
src/Win/Argous Qt code base/ArgouseBaseSoftware/appdata/droneStats.txt
src/Win/Argous Qt code base/ArgouseBaseSoftware/appdata/tripStats.txt
